.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}
.is-hidden {
    display: none;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid;
    width: 272px;
    max-height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input:hover {
    border: 2px solid;
}

.input:focus {
    border: 2px solid #4e75ff;
    outline: none;
}

.button {
    border-radius: 8px;
    border-style: none;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    margin: 0;
    background: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.button:hover {
    background: #6c8cff;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    border: 1px solid #808080;
    max-width: 360px;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
}

.gallery-image {
    transition: transform 200ms ease;
    display: block;
    width: 360px;
    height: 152px;
    object-fit: cover;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.modal-image {
    width: 1112px;
    height: 640px;
}

.info{
display: flex;
flex-direction: row;
justify-content:space-around;
text-align: center;
padding: 0 ;
}

.title-text{
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}

.text {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content:center;
margin: 0;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
height: 48px;
}